
  
    {% load static %} {% comment %} stylesheet and bootstrap {% endcomment %}

    
    {% comment %} fonts  {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link
  rel="stylesheet"
  href="{%static 'style3.css'%}"
  type="text/css"
  media="screen"
/> 
      <form class="container" hx-post="{% url 'start' %}" hx-target="#marks" >
        {% csrf_token %}
        <br>
        <div class = "row">
        <div class ="col-lg-3">
          <label class="dog"for="threshold">Select the threshold value </label><br>
          <select class="dog1" name="threshold" id="threshold">
            {% comment %} <option class="text1" value="">Select one of the option</option>  {% endcomment %}
            <option value="10" {% if th == 10 %} selected="selected" {% endif %}>10</option>
            <option value="20" {% if th == 20 %} selected="selected" {% endif %}>20</option>
            <option value="30" {% if th == 30 %} selected="selected" {% endif %}>30</option>
            <option value="40" {% if th == 40 %} selected="selected" {% endif %}>40</option>
            <option value="50" {% if th == 50 %} selected="selected" {% endif %}>50</option>
            <option value="60" {% if th == 60 %} selected="selected" {% endif %}>60</option>
            <option value="70" {% if th == 70 %} selected="selected" {% endif %}>70</option>
            <option value="80" {% if th == 80 %} selected="selected" {% endif %}>80</option>
            <option value="90" {% if th == 90 %} selected="selected" {% endif %}>90</option>
            <option value="100" {% if th == 100 %} selected="selected" {% endif %}>100</option>
          </select>
        </div>
        <div class ="col-lg-3">
          
          <label class="cool1" for="min3">Minimum attainment for 3</label><br>
          <select class ="dog2"name="min3" id="min3">
            {% comment %} <option class="text2"value="">Select one of the option</option>  {% endcomment %}
            <option value="0.1" {% if min3 == 0.1 %} selected="selected" {% endif %}>0.1</option>
            <option value="0.2" {% if min3 == 0.2 %} selected="selected" {% endif %}>0.2</option>
            <option value="0.3" {% if min3 == 0.3 %} selected="selected" {% endif %}>0.3</option>
            <option value="0.4" {% if min3 == 0.4 %} selected="selected" {% endif %}>0.4</option>
            <option value="0.5" {% if min3 == 0.5 %} selected="selected" {% endif %}>0.5</option>
            <option value="0.6" {% if min3 == 0.6 %} selected="selected" {% endif %}>0.6</option>
            <option value="0.7" {% if min3 == 0.7 %} selected="selected" {% endif %}>0.7</option>
            <option value="0.8" {% if min3 == 0.8 %} selected="selected" {% endif %}>0.8</option>
            <option value="0.9" {% if min3 == 0.9 %} selected="selected" {% endif %}>0.9</option>
            <option value="1.0" {% if min3 == 1.0 %} selected="selected" {% endif %}>1.0</option>
          </select>
        </div>
        <div class ="col-lg-3">
          
          <label class="cool2" for="min2">Minimum attainment for 2</label><br>
        <select class ="dog3"name="min2" id="min2">
          {% comment %} <option class="text3"value="">Select one of the option</option>  {% endcomment %}
          <option value="0.1" {% if min2 == 0.1 %} selected="selected" {% endif %}>0.1</option>
          <option value="0.2" {% if min2 == 0.2 %} selected="selected" {% endif %}>0.2</option>
          <option value="0.3" {% if min2 == 0.3 %} selected="selected" {% endif %}>0.3</option>
          <option value="0.4" {% if min2 == 0.4 %} selected="selected" {% endif %}>0.4</option>
          <option value="0.5" {% if min2 == 0.5 %} selected="selected" {% endif %}>0.5</option>
          <option value="0.6" {% if min2 == 0.6 %} selected="selected" {% endif %}>0.6</option>
          <option value="0.7" {% if min2 == 0.7 %} selected="selected" {% endif %}>0.7</option>
          <option value="0.8" {% if min2 == 0.8 %} selected="selected" {% endif %}>0.8</option>
          <option value="0.9" {% if min2 == 0.9 %} selected="selected" {% endif %}>0.9</option>
          <option value="1.0" {% if min2 == 1.0 %} selected="selected" {% endif %}>1.0</option>
        </select>
      </div>
      <div class ="col-lg-3">
        
        <label class="cool3" for="min1">Minimum attainment for 1</label><br>
        <select class="dog4" name="min1" id="min1">
          {% comment %} <option class="text4" value="">Select one of the option</option>  {% endcomment %}
          <option value="0.1" {% if min1 == 0.1 %} selected="selected" {% endif %}>0.1</option>
          <option value="0.2" {% if min1 == 0.2 %} selected="selected" {% endif %}>0.2</option>
          <option value="0.3" {% if min1 == 0.3 %} selected="selected" {% endif %}>0.3</option>
          <option value="0.4" {% if min1 == 0.4 %} selected="selected" {% endif %}>0.4</option>
          <option value="0.5" {% if min1 == 0.5 %} selected="selected" {% endif %}>0.5</option>
          <option value="0.6" {% if min1 == 0.6 %} selected="selected" {% endif %}>0.6</option>
          <option value="0.7" {% if min1 == 0.7 %} selected="selected" {% endif %}>0.7</option>
          <option value="0.8" {% if min1 == 0.8 %} selected="selected" {% endif %}>0.8</option>
          <option value="0.9" {% if min1 == 0.9 %} selected="selected" {% endif %}>0.9</option>
          <option value="1.0" {% if min1 == 1.0 %} selected="selected" {% endif %}>1.0</option>
        </select>
      </div>
      <button class="dog5" type="submit" name="thresholdsubmit">Apply threshold</button>
    </div>
    <br>
        
      </form>
      <div class="container">
      <a href="/download-attainment"><button class="dog5" name="download">Download Attainment</button></a>
      <a href="/download-marks"><button class="dog5" name="download">Download Marks</button></a>
      </div>

      <button onclick="window.print()">Print this page</button>
      
    {% comment %} <div class = "tableitem">
      {{data1 | safe}}
    </div> {% endcomment %}
    <br>
    {% comment %} <div class = "tableitem">
      {{data | safe}}
    </div> {% endcomment %}

    <div class="">
      <h2 class="text-center"><u>Attainment</u></h2><br> 
      <div class="text-center">
        <img  src="static/logo.png" max-width=100% height=auto>
        </div>
      <h3 class="text-center">{{text}}</h3><br> 
    </div>
    <div>           
      <table class="table">
        <thead bgcolor="blue">
          <tr>
            <th>Unit</th>
            <th>Cat_Attainment</th>
            <th>ES_Attainment</th>
            <th>Total_Attainment</th>
            <th>Attainment_Score</th>
          </tr>
        </thead>
        <tbody>
        {% if data1 %}  
        {% for i in data1 %}
          <tr>
            <td>{{i.Unit}}</td>
            <td>{{i.Cat_Attainment}}</td>
            <td>{{i.ES_Attainment}}</td>
            <td>{{i.Total_Attainment}}</td>
            <td>{{i.Attainment_Score}}</td>
          </tr>
        {% endfor %}
        {% endif %}
        </tbody>
      </table>
    </div>

    <br>

    
    <div class="">
      <h2 class="text-center"><u>Marks</u></h2><br> 
      <div class="text-center">
      <img  src="static/logo.png" max-width=100% height=auto>
      </div>
      <h3 class="text-center">{{text}}</h3><br> 
    </div>
    <div>           
      <table class="table">
        <thead bgcolor="blue">
          <tr>
            <th>Reg no </th>
            <th>CO1_CAT</th>
            <th>CO2_CAT</th>
            <th>CO3_CAT</th>
            <th>CO4_CAT</th>
            <th>CO5_CAT</th>
            <th>CO1_ES</th>
            <th>CO2_ES</th>
            <th>CO3_ES</th>
            <th>CO4_ES</th>
            <th>CO5_ES</th>
            
          </tr>
        </thead>
        <tbody>
        {% if data %}  
        {% for i in data %}
          <tr>
            <td>{{i.Regno}}</td>
            <td>{{i.CO1_CAT}}</td>
            <td>{{i.CO2_CAT}}</td>
            <td>{{i.CO3_CAT}}</td>
            <td>{{i.CO4_CAT}}</td>
            <td>{{i.CO5_CAT}}</td>
            <td>{{i.CO1_ES}}</td>
            <td>{{i.CO2_ES}}</td>
            <td>{{i.CO3_ES}}</td>
            <td>{{i.CO4_ES}}</td>
            <td>{{i.CO5_ES}}</td>
          </tr>
        {% endfor %}
        {% endif %}
        </tbody>
      </table>
    </div>
